[submodule "controler_gehaeuse/PiHoles"]
	path = controler_gehaeuse/PiHoles
	url = https://github.com/daprice/PiHoles.git
[submodule "spulenhalter"]
	path = spulenhalter
	url = git@github.com:nohkumado/spulenhalter.git
