[submodule "controler_gehaeuse/PiHoles"]
	path = controler_gehaeuse/PiHoles
	url = https://github.com/daprice/PiHoles.git
[submodule "spulenhalter"]
	path = spulenhalter
	url = https://github.com/nohkumado/spulenhalter.git
[submodule "scalar_xlp_titan_extruder_holder"]
	path = scalar_xlp_titan_extruder_holder
	url = https://github.com/nohkumado/scalar_xlp_titan_extruder_holder.git
[submodule "openscad-model-library"]
	path = openscad-model-library
	url = https://github.com/cznewt/openscad-model-library.git
